.first {
    background-color: yellow;
    border: red;
    text-align: center;
    border: 5px solid red;
}


header {
    background: blue;
    color: white;
    text-align: center;
    padding: 20px 10px;
  }






.list {background-color:whitesmoke;
border: 5px solid red ;
gap: 5px;
padding: 20px;}

h1{text-align: center;}

.p1 {text-align: center;}

.grid-item img {
    width: 80%;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 1em;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto 220px,1fr);
    gap: 20px;
    max-width: 0px;
    margin: auto;
    text-align: center;
}


.actions {
    background-color:whitesmoke;
    text-align: center;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    padding: 1rem 2rem;
    color: blue;

}

.nav-logo {
    font-size: 1 rem;
    font-weight: bold;
    color: yellow; 
}

.nav-links {
    list-style: none;
    display: flex; 
    gap: 2 rem; 
    margin: 1;
}

.nav-links a {
    text-decoration: none;
    color: yellow;
    font-weight: 500;
    
}













p {background-color:white;
    text:blue;
    font-family: Arial sans-serif;
text-align: center;}

h2{color: rgb(214, 247, 27)(145, 255, 0);
    text-align: center;}

h5{text-align: center;
}
h1 {background-color: blue;
    color: white;
    border-color: red;
text-align: center;}

}




div {border-color: yellow;}

.container {
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
    grid-template-rows: 50px;
    gap: 10px;
}

.item {
    background-color: purple;
    padding: 20px;
}
